#include<iostream>
using namespace std;
void move(char src,char desk){
cout<<src<<"--"<<desk<<endl;
}
void hanoi(int n,char src,char medium,char desk){
if (n==1)
move(src,desk);
else{
hanoi(n-1,src,desk,medium);
move(src,desk);
hanoi(n-1,medium,src,desk);
}
}
int main(){
int n;
cout<<"Enter the number of disks: ";
cin>>n;
cout<<"the steps to moving "<<n<<" disks: "<<endl;
hanoi(n,'A','B','C');
return 0;
}
